@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

:root {
    --SoftRed: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Darkbrown: hsl(25, 47%, 15%);
    --Mediumbrown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Verypaleorange: hsl(33, 100%, 98%);
    --textFont:'DM Sans', sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--Cream);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--textFont);
}

header{
    background-color: var(--SoftRed);
    width:350px;
    border-radius:.5rem;
    padding:2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h4{
    color: var(--Verypaleorange);
    margin-top:0
}

h2{
    color:var(--Verypaleorange);
    font-size: 25px;
    margin-top:0.5rem;
    margin-bottom: 0;
}

h1{
    color: var(--Darkbrown);
    font-size: 25px;
}

canvas{
    cursor: pointer;
}

main{
    background-color: var(--Verypaleorange);
    width:350px;
    padding: 0 1rem;
    margin-top:1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

hr{
    border: 1px solid var(--Cream);
}

.change{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Verypaleorange);
    width:350px;
    padding: 2rem 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.total{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h1, h4, footer h5, footer h6{
    margin: 0;
}

footer h1, h4{
    color: var(--Darkbrown);
}

footer h5, h6{
    color: var(--Mediumbrown);
}

@media screen and (max-width:400px){
    header{
        width: 90%;
    }
    
    main{
        width: 90%;
    }
    
    footer{
        width:90%
    }
}